:root {
    --main-background-color: #1e1e2e;
    --main-color: #cdd6f4;
    --settings-input-color: #cba6f7;
    --settings-input-border-color: #cba6f7;
    --settings-button-color: #11111b;
    --settings-button-border-focus: #cba6f7;
    --sidebar-background-color: #313244;
    --sidebar-background-color-hover: #1e1e2e;
    --code-block-background-color: #181825;
    --scrollbar-track-background-color: #45475a;
    --scrollbar-thumb-background-color: #313244;
    --scrollbar-color: #313244 #45475a;
    --headings-border-bottom-color: #cdd6f4;
    --border-color: #313244;
    --button-background-color: #cdd6f4;
    --search-input-focused-border-color: #cba6f7;
    --copy-path-button-color: #6c7086;
    --warning-border-color: #fab387;
    --type-link-color: #74c7ec;
    --trait-link-color: #cba6f7;
    --assoc-item-link-color: #fab387;
    --function-link-color: #94e2d5;
    --macro-link-color: #a6e3a1;
    --keyword-link-color: #eba0ac;
    --mod-link-color: #cba6f7;
    --link-color: #cba6f7;
    --sidebar-link-color: #cba6f7;
    --search-result-link-focus-background-color: #313244;
    --search-result-border-color: #1e1e2e;
    --search-color: #cdd6f4;
    --search-error-code-background-color: #1e1e2e;
    --search-results-alias-color: #cdd6f4;
    --search-results-grey-color: #bac2de;
    --search-tab-title-count-color: #bac2de;
    --search-tab-button-not-selected-border-top-color: #1e1e2e;
    --search-tab-button-not-selected-background: #1e1e2e;
    --search-tab-button-selected-border-top-color: #cba6f7;
    --search-tab-button-selected-background: #313244;
    --stab-background-color: #1e1e2e;
    --stab-code-color: #cdd6f4;
    --code-highlight-kw-color: #cba6f7;
    --code-highlight-kw-2-color: #74c7ec;
    --code-highlight-lifetime-color: #fab387;
    --code-highlight-prelude-color: #89dceb;
    --code-highlight-prelude-val-color: #f38ba8;
    --code-highlight-number-color: #a6e3a1;
    --code-highlight-string-color: #a6e3a1;
    --code-highlight-literal-color: #f38ba8;
    --code-highlight-attribute-color: #f38ba8;
    --code-highlight-self-color: #f38ba8;
    --code-highlight-macro-color: #89b4fa;
    --code-highlight-question-mark-color: #eba0ac;
    --code-highlight-comment-color: #7f8a9c;
    --code-highlight-doc-comment-color: #cdd6f4;
    --src-line-numbers-span-color: #89b4fa;
    --src-line-number-highlighted-background-color: #181825;
}